@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#g-g-d-Submit{
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 2rem;
    padding: 1rem;
    border-radius: 2px;
    background-color: #4CAF50;
    font-family: 'Roboto', sans-serif;
}

#g-g-d-Submit:hover{
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#g-g-d-Cancel{
    position: fixed;
    bottom: 0;
    margin: 2rem 2rem 2rem 14rem;
    padding: 1rem;
    border-radius: 2px;
    background-color: red;
    font-family: 'Roboto', sans-serif;
}

#g-g-d-Cancel:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}